<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body class="container">

<header>
    <%- include('header'); %>
</header>

<main>
    <div>
        <h1>Home page</h1>
        <!-- 
        <p>This is the home page</p>
        -->
        <h2><%= tagline %></h2>

        <ul>
            <% movies.forEach(function(movie) { %>
                <li>
                    <span><b>ID : </b>id: <%= movie._id %></span><br/>
                    <span><b>Name : </b>name: <%= movie.value.name%></span><br/>
                    <span><b>Actors : </b>id: <%= movie.value.actors %></span><br/>
                </li>
                <br/>
            <% }); %>
        </ul>
    </div>
</main>

<!-- 
<footer>
    <%- include('footer'); %>
</footer>
-->

</body>
</html>